# Essential Secrets:
#CLOUDFLARE_API_TOKEN=""
#CLOUDFLARE_ACCOUNT_ID=""

CLOUDFLARE_AI_GATEWAY_TOKEN=""

# Provider specific secrets:
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
GEMINI_API_KEY=""
#OPENROUTER_API_KEY="default"
#GROQ_API_KEY="default"

# Stuff for Oauths:
GOOGLE_CLIENT_SECRET="default"
GOOGLE_CLIENT_ID="default"

# GitHub OAuth
GITHUB_CLIENT_ID="default"
GITHUB_CLIENT_SECRET="default"

# Secrets for various internal services of this platform
JWT_SECRET="default"
WEBHOOK_SECRET="default"